// Copyright 2022 Ryan Diaz - All rights reserved
// styles n' stuff

.form {
  padding: 15px;
  border: 2px red solid;
}

.errorMessage {
  color: red;
}

.labelTag {
  color: #323232;
  font-weight: 16px;
}
